[submodule "Assets/GitMerge-for-Unity"]
	path = Assets/GitMerge-for-Unity
	url = https://github.com/FlaShG/GitMerge-for-Unity
[submodule "Assets/Shared-Lib"]
	path = Assets/Shared-Lib
	url = https://github.com/antontidev/Shared-Lib.git
